<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
		<style>
			body {
				height:100%;
				background:transparent url("images/clipart/photo/matheus-negrao-2oQAi9M6cVY-unsplash.jpg") no-repeat center center fixed;
				background-size:cover;
			}
		</style>
		
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel public_bienservicio search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN idbienservicio_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_idbienservicio}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="idbienservicio{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="idbienservicio" data-fieldname="idbienservicio" >


	<label class="r-search-label control-label" for="{$labelfor_idbienservicio}">
		{$label public_bienservicio idbienservicio }	</label>
	<div class="r-search-option">
		{$searchtype_idbienservicio}
	</div>
	<div class="r-search-field">
		{$idbienservicio_editcontrol}	</div>
	<div class="r-search-field">
		{$idbienservicio_editcontrol1}
	</div>
	
</div>

{END idbienservicio_fieldblock}
											
{BEGIN descripbienesservicios_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_descripbienesservicios}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="descripbienesservicios{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="descripbienesservicios" data-fieldname="descripbienesservicios" >


	<label class="r-search-label control-label" for="{$labelfor_descripbienesservicios}">
		{$label public_bienservicio descripbienesservicios }	</label>
	<div class="r-search-option">
		{$searchtype_descripbienesservicios}
	</div>
	<div class="r-search-field">
		{$descripbienesservicios_editcontrol}	</div>
	<div class="r-search-field">
		{$descripbienesservicios_editcontrol1}
	</div>
	
</div>

{END descripbienesservicios_fieldblock}
											
{BEGIN modelo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_modelo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="modelo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="modelo" data-fieldname="modelo" >


	<label class="r-search-label control-label" for="{$labelfor_modelo}">
		{$label public_bienservicio modelo }	</label>
	<div class="r-search-option">
		{$searchtype_modelo}
	</div>
	<div class="r-search-field">
		{$modelo_editcontrol}	</div>
	<div class="r-search-field">
		{$modelo_editcontrol1}
	</div>
	
</div>

{END modelo_fieldblock}
											
{BEGIN marca_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_marca}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="marca{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="marca" data-fieldname="marca" >


	<label class="r-search-label control-label" for="{$labelfor_marca}">
		{$label public_bienservicio marca }	</label>
	<div class="r-search-option">
		{$searchtype_marca}
	</div>
	<div class="r-search-field">
		{$marca_editcontrol}	</div>
	<div class="r-search-field">
		{$marca_editcontrol1}
	</div>
	
</div>

{END marca_fieldblock}
											
{BEGIN a_o_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_a_o}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="a_o{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="a_o" data-fieldname="año" >


	<label class="r-search-label control-label" for="{$labelfor_a_o}">
		{$label public_bienservicio a_o }	</label>
	<div class="r-search-option">
		{$searchtype_a_o}
	</div>
	<div class="r-search-field">
		{$a_o_editcontrol}	</div>
	<div class="r-search-field">
		{$a_o_editcontrol1}
	</div>
	
</div>

{END a_o_fieldblock}
											
{BEGIN impuesto_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_impuesto}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="impuesto{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="impuesto" data-fieldname="impuesto" >


	<label class="r-search-label control-label" for="{$labelfor_impuesto}">
		{$label public_bienservicio impuesto }	</label>
	<div class="r-search-option">
		{$searchtype_impuesto}
	</div>
	<div class="r-search-field">
		{$impuesto_editcontrol}	</div>
	<div class="r-search-field">
		{$impuesto_editcontrol1}
	</div>
	
</div>

{END impuesto_fieldblock}
											
{BEGIN costo_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_costo}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="costo{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="costo" data-fieldname="costo" >


	<label class="r-search-label control-label" for="{$labelfor_costo}">
		{$label public_bienservicio costo }	</label>
	<div class="r-search-option">
		{$searchtype_costo}
	</div>
	<div class="r-search-field">
		{$costo_editcontrol}	</div>
	<div class="r-search-field">
		{$costo_editcontrol1}
	</div>
	
</div>

{END costo_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
